.sidebar{
    width:200px;
    height:100%;
    background-color:blueviolet;
    position:fixed;
    top:0;
    left:0;
    text-align: center;
    transition:transform 0.3s ease-in-out;
}
.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.adminName{
    width:100px;
    height:100px;
    border-radius:50%;
    background-color:white;
    margin:0 auto;
    margin-top:10px;      
}
.name{
    margin:0 auto;
    margin-top:10px; 
    color:white
}

.sidebar ul{
    margin:0;
    padding:0;
}

.sidebar hr{
    margin:0;
}



.links a{
    text-decoration:none;
    height:30px;
    width:200px;
    padding-top:10px;
    margin:0 auto;
    text-transform: capitalize;
    display: block;
    color:white;
    margin-bottom:2px;
    position: relative;
    overflow: hidden;
    border-radius:5px;

}

.links a.active,
.links a:active,
.links a:hover{
    background-color:rgb(175, 131, 218);
    color:white;
    opacity: 0.9;
}

.links a::before{
    content: '';
    width:10px;
    height:100%;
    position: absolute;
    top:0;
    left:-10px;
    background-color:white;
    border-radius: 3px;
    transform: translateX(0px);
    transition:transform 10ms ease-in;
}

.links a:hover::before,a.active::before{
    transform:translateX(11px);
}




