.header{
    width:100%;
    height:70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:blueviolet;
    color:white;
}

.error{
    width:90%;
    margin:0 auto;
    margin-top:5px;
    border-radius:20px;
    text-align: center;
    padding:10px;
    box-sizing: border-box;
    border:2px solid red;
}