.Layout{
    margin:0;
    padding:0;
}



.SidebarThere{
    transition:transform 0.3s ease-in-out;
}

.Open{
    transform: translateX(200px);
    width:73%;
}
.Close{
    transform: translateX(0px)
}

@media (min-width:800px){
    .Open{
        width:85%;

    }
} 