.About{
    width:97%;
    margin:0 auto;
    border:2px solid #eee;
    box-shadow: 0 5px 5px #ccc;
    margin-top:10px;
    border-radius: 10px;
    position: relative;
    min-height:590px;
}

.textField{
    width:100px;
    margin-top:20px;
}


.Floor{
    list-style:none;
    width:80px;
    height:20px;
    padding:20px;
    text-align:center;
    border:2px solid blueviolet;
    box-shadow: 0 10px 10px #ccc;
    margin:15px;
    border-radius:10px;
    z-index: 1000;
}
.Floor:first-of-type{
    padding:15px;
    height:32px;
}

.Content{
    height:100%;
    margin: 0 auto;
    border-radius:15px;
    min-width:none;
    min-height:300px;
    border: 2px solid blueviolet;
    transition: transform 0.5s ease-in;
    transform: scale(0);
}
.Content:hover{
    transform: scale(1)
}
.Show{
    transform : scale(1.0);
}

.Close{
    transform: scale(0);
}



