.Owner{
    display:grid;
    grid-template-columns: auto auto;
    border-color: blueviolet;
    padding: 15px;
    position: relative;

}

.Owner .textField{
    margin:15px;
    width: 90%;
}

.fieldset{
    position: absolute;;
}

.Owner .editIcon{
    width:45px;
    position: absolute;
    top:5%;
    right:20px;
    z-index: 30;
}