.header{
    width:97%;
    height:60px;
    background:blueviolet;
    margin: 0 auto;
    padding:0;
    border-radius: 10px;
    color:white;
    box-sizing: border-box;
    top:0;
}

.link{
    display: flex;
    float:right;
}

.link a{
    text-decoration: none;
    color:white;
    padding:10px;
    margin:10px
}

.link a:active,
.link a:hover,
.link a.active{
    background: white;
    border-radius:10px;
    color:blueviolet;
}