.Form{
    border:2px solid #eee;
    box-shadow: 0 5px 5px #ccc;
    width:400px;
    position: absolute;
    top:10%;
    left:20%;
    z-index: 100;
    background-color: white;
}
.Form .textField:first-of-type{
    margin:20px 20px 5px 20px;

}
.Form .textField{
    width:90%;
    margin:5px 20px 5px 20px;
}