.Modal{
    position: absolute;
    z-index: 500;
    background-color: white;
    width: 30%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    left:30%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}